<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <partial name="Partial/_Styles" />
</head>
<body>

        @RenderBody()

<partial name="Partial/_Footer" />

    <partial name="Partial/_Scripts" />

</body>
</html>