@{
    ViewBag.Title = "В доступе отказано";
}

<div class="container">
    <h1 class="text-danger">@ViewBag.Title</h1>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">На главную</a>
</div>