@model IEnumerable<WebStore.Models.Employee>

<div class="container">
	<table class="table">
		<tr>
			<td>Имя</td>
			<td>Фамилия</td>
			<td>Отчество</td>
			<td>Дополнительно</td>
		</tr>

		@foreach (var e in Model)
		{
	  <tr>
	   <td>@e.Name</td>
	   <td>@e.LastName</td>
	   <td>@e.MiddleName</td>
	   <td><a asp-action="Details" asp-route-id="@e.Id">Детали</a></td>
	  </tr>
		}
 </table>
</div>