<div class="btn-group-vertical navbar-btn">
    <a asp-action="Index" class="btn btn-default"><span class="fa fa-user"></span> Профиль</a>
    <a asp-action="Orders" class="btn btn-default"><span class="fa fa-shopping-cart"></span> Заказы</a>
</div>