@model IEnumerable<WebStore.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Главная";
}
<partial name="Partial/_Slider" />
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSidebar" />
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_FeaturesItems" model="Model"/>
                <partial name="Partial/_CategoryTab" />
                <partial name="Partial/_RecommendedItems" model="Model.Take(6)"/>
            </div>
        </div>
    </div>
</section>