@using WebStore.Domain.Entities.Identity

<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a ws-is-active-route asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="dropdown">
            <a ws-is-active-route ws-ignore-action asp-controller="Catalog">Магазин<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a ws-is-active-route ws-ignore-action asp-controller="Catalog" asp-action="Index">Каталог</a></li>
                @*<li><a asp-controller="Catalog" asp-action="Details">О товаре</a></li>*@
            </ul>
        </li>
        <li class="dropdown">
            <a ws-is-active-route ws-ignore-action asp-controller="Blog">Блог<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a ws-is-active-route asp-controller="Blog" asp-action="Index">Список блогов</a></li>
                <li><a ws-is-active-route asp-controller="Blog" asp-action="Single">Блог магазина</a></li>
            </ul>
        </li>
        <li><a ws-is-active-route asp-controller="Errors" asp-action="Index">404</a></li>
        <li><a ws-is-active-route asp-controller="Home" asp-action="ContactUs">Контакты</a></li>
        <li><a ws-is-active-route asp-controller="WebAPI" asp-action="Index">WebAPI</a></li>

        @if (User.IsInRole(Role.Administrators))
        {
            <li><a ws-is-active-route asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
        }

    </ul>
</div>